html, body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}


.no-margin{
	margin:0px;
}

#logo{
	font-size: 1.2em;
}

// eliminar viñetas
ul {
	list-style: none;
}

a, a:visited{
	color:inherit !important;
	text-decoration:none;
}


.be-red{
	background-color: #E74C3C;
}

.white{
	color: #ECF0F1;
}

.large-padding{
	padding:8px 5px;
}
.boton-guardar:hover{
background-color: violet;
}
.boton-guardar{
background-color: blue;
color:white;
padding:5px;
border: none;
outline: none;
text-transform: uppercase;
cursor: pointer;
font-size:1.2em;
}



.boton-reset:hover{
background-color: violet;
}
.boton-reset{
background-color: red;
color:white;
padding:5px;
border: none;
outline: none;
text-transform: uppercase;
cursor: pointer;
font-size:1.2em;
}



